@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe
<br>
<h2>Are you sure you want to delete this recipe?</h2>

@Html.DisplayFor(model => model.RecipeName)
@using (Html.BeginForm())

{
  <br>
  <input type="submit" class ="buttony" value="Delete" />
}