@{
  Layout = "_Layout";
}

@using RecipeBox.Models;

<h1>Recipes Sorted By Ranking</h1>

<hr>

@if (User.Identity.IsAuthenticated)
{
  <h4>Recipes for @User.Identity.Name</h4>
  @if (@Model.Count == 0)
  {
    <h3>No recipes have been added yet</h3>
  }

  <ul>
  @foreach (Recipe recipe in Model)
    {
      <li>@Html.ActionLink($"{recipe.RecipeName}", "Details", new { id = recipe.RecipeId })</li>
    }
  </ul>
}
else
{
  <h4>Recipes</h4>
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your recipes.</p>
}